body {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #70938F;
    transform: translate(-50%, -50%);
    
}

.piece {
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
    background-position: center;
}

.container {
    width: 700px;
    height: 700px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #DED3AF;
    border-radius: 6%;
}

.board {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(8,12.5%);
    overflow: visible;

}
.tiles {
    content-visibility: visible;
    height: 70px;
    width: 70px;


}

.white_tile {
    background-color: whitesmoke;  
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    line-height: 0%;

}

.black_tile {
    background-color: #CBDEDC;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    color: black;
    line-height: 0%;
    
}

.lettersbox {
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 3%;
    width: 90%;  
    justify-content: space-evenly;  
    flex-direction: row;
    margin-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.numbersbox {
    height: 80%;
    width: 10%;
    list-style-type: none;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-family: Helvetica;
}

.highlighted {
border-radius: 3%;
box-shadow:     
inset 0px 0px 8px 5px #6b88e8;
}

.focused {
border-radius: 3%;
box-shadow:     
inset 0px 0px 8px 3px #e0d55c; 
}